.transactionHistory{
    margin-top: 20px;
    width: 600px;
    font-size: 20px;
}

th {
    font-size: 30px;
    font-weight: normal;
    background-color: deepskyblue;
    color: #039;
    padding: 10px 15px;
  }
  td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
    text-align: center;
  }
  tr:hover td {
    background: #e8edff;
  }